<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
        <h2>HARLY DAVIDSON</h2>
        <img src="https://tse3.mm.bing.net/th?id=OIP.J7A4yEmYo-nt4EC770aiZQHaE7&pid=Api&P=0" alt="">
        <p>The pursuit of adventure begins with a ride on a Harley-Davidson® motorcycle. Make any weekend epic. Turn your commute into a daily thrill-seeker.A Harley-Davidson® blows things wide open. Pure freedom. As big and real as it gets.</p>
        <a href="{% url 'nothing:harly' %}">details</a>
        <h2>DUCATI</h2>
        <img src="https://tse4.mm.bing.net/th?id=OIP.eW9MqqgM8jkpuN-_EIS1OQHaF4&pid=Api&P=0" alt="">
</body>
</html>